.WebStudio {
font-family: 'Raleway', sans-serif;  
}

.header {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
}

.header:hover {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196F3;
}

.mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

.tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #757575;
}

.tel:hover {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #2196F3;
}

.mail:hover {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;
}

.eff {
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
background: #2F303A;
}

.but {
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
}

h3 {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}

.p1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
    
}

.p2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
      
}

.p3 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;

}

.p4 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;

}

h2 {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.p5 {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;
}

.w2 {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;
}

.p6 {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;
}

.but1 {
background: #F5F4FA;
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.but1:hover {
background: #2196F3;
/* shadow-middle */
    
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;

}

.ht {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    
    letter-spacing: 0.06em;
    
    color: #212121;
}

.po {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
    
}